# Make, require, and volo output to be ignored.
www-built
www-ghdeploy

# CSS output from Stylus
www/css/*.css

# Output from locale files; don't include these in git
www/locale

.DS_Store

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
