<x-layout>
  <x-appbar>
    <div id="back" class="text"><%= l('Back') %></div>
    <header><%= l('around') %></header>
  </x-appbar>

  <div id="content"></div>

  <div id="attribution">
    <p><%= l('around is powered by ') %><a href="https://foursquare.com/" target="_blank">Foursquare</a>.<!-- <a href="#learn-more-link"><%= l('Learn more') %></a>--></p>
  </div>
</x-layout>
