<x-layout>
  <x-appbar>
    <div id="back" class="text"><%= l('Back') %></div>
    <header></header>
    <div id="explore-link" class="text"><%= l('Explore') %></div>
  </x-appbar>

  <div id="content"></div>
</x-layout>
