<x-layout>
  <x-appbar>
    <div id="back" class="text"><%= l('Back') %></div>
    <header><%= l('around') %></header>
  </x-appbar>

  <div id="map"></div>

  <section id="content"></section>

  <section id="check-in"></section>

  <footer></footer>
</x-layout>

<div id="modal"></div>
