<x-layout>
    <x-appbar>
        <div><%= l('Back') %></div>
        <header><%= l('around') %></header>
    </x-appbar>
    <section id="content" class="row">
    </section>
    <footer>
        <button id="check-in"><%= l('Check In') %></button>
    </footer>
</x-layout>
