<% if (isFullModal) { %>
  <div id="full-modal-bg"></div>
<% } %>

<div <% if (isFullModal) { %>id="full-modal"<% } %> class="modal <% if (!isFullModal) { %>standard<% } %>">
  <div class="content">
    <%= fixedContent %>

    <%= templateHTML %>
  </div>

  <% if (isFullModal) { %>
    <div class="accept"><%= l('Cancel') %></div>
  <% } %>
</div>
