<% if (position && venues && venues.length) { %>
  <ul>
    <% venues.forEach(function(venue) { %>
      <%= VenueShowListItemTemplate({venue: venue}) %>
    <% }) %>
  </ul>
<% } else if (position && venues === null) { %>
  <p id="loading-text"><%= l('No venues found.') %></p>
<% } else if (position) { %>
  <p id="loading-text"><%= l('Finding places near you.') %><span class="circle-small"></span></p>
<% } else { %>
  <p id="loading-text"><%= l('Getting your location.') %><span class="circle-small"></span></p>
<% } %>
