<div class="area-container">
  <p class="data-attribution"><%= ('Data from ') %><a href="https://foursquare.com/" target="_blank">Foursquare</a></p>

  <form class="venue-search" autocomplete="off">
    <label class="hide" for="venue-search"><%= l('Search for a venue') %></label>
    <input type="search" id="venue-search" value="<%= venueSearchValue %>" placeholder="<%= l('Search places') %>">

    <button type="reset"><i class="fa fa-times"></i></button>
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>
