@import "/fonts/firasans/stylesheet.css"

@import "settings"

@import "lib/brick.css"
@import "lib/font-awesome.css"
@import "lib/mapbox-v1.3.1.css"

@import "reset"

@import "helper"

@import "checkins"
@import "maps"
@import "spinner"
@import "timeline"
@import "users"
@import "venues"

body
    font-family "Fira Sans"
    -webkit-tap-highlight-color transparent
    -webkit-user-select none
    -webkit-touch-callout none

    x-layout
        display block
        height auto
        overflow auto

.login x-appbar
    display none

#back
    cursor pointer
    margin-right -55px
    padding-left 5px
    z-index 9000

    &:before
        content "<"
        display inline-block
        font-size 1.5em
        margin 1px 2.5px 0 0
        vertical-align top

#explore-link
    cursor pointer
    margin-left -55px
    padding 0 10px 0 15px
    z-index 9000

    &:before
        display inline-block
        font-size 1.5em
        margin 1px 2.5px 0 0
        vertical-align top

html[dir="rtl"]
    #back
        margin-left -55px
        margin-right 0
        padding-left 0
        padding-right 5px

.hide-back-button
    #back
        visibility hidden

a
    color inherit
    cursor pointer
    text-decoration none

.hide
    display none

footer
    bottom 5px
    left 50%
    padding 0
    position fixed
    text-align center
    transform translate(-50%, 0%)
    -moz-transform translate(-50%, 0%)
    -webkit-transform translate(-50%, 0%)
    z-index 45

h1
    background #efefef
    border-bottom 1px solid #cdcdcd
    border-top 1px solid #cdcdcd
    font-size 18px
    margin .5em 0
    padding .5em
    text-align center

.check-in
    color #fff
    font-size 18px

.arrow
    color #777
    cursor pointer
    display inline-block
    font-size 24px
    padding .25em
    text-decoration none
    &:hover
        color #232323

// Attribution
.attribution
    color #bfbfbf
    font-size .7em
    padding 20px 0
    text-align center

    a
        text-decoration underline

// Generic summary styles (used when a showView is the main content of the
// page.)
#content > .summary
    h2
        font-size 24px

// Modal styles from Brick Style Guide
.modal, #full-modal, #full-modal-bg
    height 100%
    left 0
    overflow-y hidden
    position fixed
    top 0
    width 100%

    .content
        background #fff
        border 1px solid #979797
        border-radius 6px
        color rgb(75, 87, 92)
        left 50%
        max-height 75%
        overflow-y scroll
        position relative
        text-align center
        top 50%
        transform translate(-50%, -50%)
        -moz-transform translate(-50%, -50%)
        -webkit-transform translate(-50%, -50%)
        width 90%
        z-index 12000

        h2
            border-bottom 1px solid #979797
            color rgb(75, 87, 92)
            font-size 24px
            line-height 1.6em
            margin 0 auto 1em

        .body
            font-size 32px
            line-height 42px

        .accept, .cancel
            display inline-block
            font-size 18px
            line-height 20px
            margin-bottom 5px

        .accept
            font-weight bold

        .cancel
            background #efefef
            border 1px solid #cdcdcd
            color #313131

        .cancel + .accept
            margin-left 1em

        hr
            background #443f3f

.modal, #full-modal-bg
    background rgba(0, 0, 0, 0.5)
    z-index 11000

#full-modal
    .content
        height 95%
        max-height none
        text-align left
        width 95%

        &:after
            clear both
            content ""
            display block
            height 42px

    .accept, .cancel
        background #efefef
        border-top 1px solid #443f3f
        border-radius 6px
        bottom 2.5%
        cursor pointer
        font-size 30px
        font-weight bold
        left 50%
        line-height 42px
        padding 6px 0 0
        position fixed
        text-align center
        transform translate(-50%, 0%)
        -moz-transform translate(-50%, 0%)
        -webkit-transform translate(-50%, 0%)
        width 95%
        z-index 12001

        &:active
            background #dedede
            -moz-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
            -webkit-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
            box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)

button, .button
    background #0095dd
    border 1px solid #297091
    border-radius 6px
    color #fff
    cursor pointer
    display inline-block
    line-height .8em
    padding .5em
    text-align center
    text-decoration none

    &:active
        background #0070a6
        -moz-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
        -webkit-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
        box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
