@import "/fonts/firasans/stylesheet.css"

@import "settings"

@import "lib/brick.css"
@import "lib/mapbox-v1.3.1.css"

@import "reset"

@import "helper"

@import "checkins"
@import "timeline"
@import "spinner"
@import "users"
@import "venues"

body
    font-family "Fira Sans"
    -webkit-tap-highlight-color transparent
    -webkit-user-select none
    -webkit-touch-callout none

#back
    cursor pointer
    margin-right -55px
    padding-left 5px
    z-index 9000

    &:before
        content "<"
        display inline-block
        font-size 1.5em
        margin 1px 2.5px 0 0
        vertical-align top

.hide-back-button
    #back
        visibility hidden

/*
a {
    color: blue;

    &:hover, &:visited {
        color: blue;
    }
}

//Notification

//    background #F73325
//    font-family FiraSansOT
//    font-size 28px
//    color #FFFFFF
//    line-height 32px



//Button with image

//    width 90px
//    height 90px

#content
    display block
    font-family "Fira Sans"
    margin-top 45px !important
    min-height 300px
*/

footer
    bottom 5px
    left 50%
    padding 0
    position fixed
    text-align center
    transform translate(-50%, 0%)
    -moz-transform translate(-50%, 0%)
    -webkit-transform translate(-50%, 0%)
    z-index 45

// Generic summary styles (used when a showView is the main content of the
// page.)
#content > .summary
    h2
        font-size 24px

// Modal styles from Brick Style Guide
#modal, #full-modal
    background rgba(0, 0, 0, 0.5)
    height 100%
    left 0
    overflow-y hidden
    position fixed
    top 0
    width 100%
    z-index 11000

    .content
        background #fff
        border 1px solid #979797
        border-radius 6px
        color rgb(75, 87, 92)
        left 50%
        max-height 75%
        overflow-y scroll
        position relative
        text-align center
        top 50%
        transform translate(-50%, -50%)
        -moz-transform translate(-50%, -50%)
        -webkit-transform translate(-50%, -50%)
        width 90%
        z-index 11000

        h2
            border-bottom 1px solid #979797
            color rgb(75, 87, 92)
            // font-size 24px
            // line-height 1.6em
            margin 0 auto 1em

        .body
            font-size 32px
            line-height 42px

        .cancel
            font-size 30px
            line-height 36px

        .accept
            font-size 30px
            font-weight bold
            line-height 42px

        hr
            background #443f3f

#full-modal
    .content
        height 95%
        max-height none
        text-align left
        width 95%
        // top: 10px
        // transform translate(-50%, 0)
        // -moz-transform translate(-50%, 0)
        // -webkit-transform translate(-50%, 0)

        &:after
            clear both
            content ""
            display block
            height 42px

    .accept, .cancel
        background #efefef
        border-top 1px solid #443f3f
        border-radius 6px
        bottom 2.5%
        cursor pointer
        font-size 30px
        font-weight bold
        left 50%
        line-height 42px
        padding 6px 0 0
        position fixed
        text-align center
        transform translate(-50%, 0%)
        -moz-transform translate(-50%, 0%)
        -webkit-transform translate(-50%, 0%)
        width 95%
        z-index 11001

        &:active
            background #dedede
            -moz-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
            -webkit-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
            box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)

button, .button
    background #0095dd
    border 1px solid #297091
    border-radius 6px
    color #fff
    cursor pointer
    display inline-block
    line-height .8em
    padding .5em
    text-align center
    text-decoration none

    &:active
        background #0070a6
        -moz-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
        -webkit-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
        box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
