#full-modal
    // Maps
    #map
        background #f2f0e9
        height 125px
        margin 0
        position relative
        width 100%
        z-index 12000
        transition height linear 100ms

        &.hide-on-mobile
            @media screen and (max-height: 480px)
                height 0

    #loading-text
        margin 20px 0 0
        text-align center

.checkin
    background #efefef
    border-bottom 1px solid #cdcdcd
    clear both
    margin 0 auto
    max-width 90%
    padding 5px
    position relative

    &:nth-child(2)
        background #fefefe

        .arrow
            background #efefef

    &:after
        clear both
        content ""
        display block

    .profile-photo
        height 50px
        margin 0 5px 0 0
        width 50px

    .user
        font-size .9em

    .venue
        margin .25em 30px .25em 0
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

    h4
        font-size .8em

    .arrow
        background #efefef
        position absolute
        right 10px
        top: 50%
        transform translate(0%, -50%)
        -moz-transform translate(0%, -50%)
        -webkit-transform translate(0%, -50%)

#confirm-checkin
    #checkin-comment
        display block
        margin 0 auto 1em
        min-height 60px
        width 90%
