#full-modal
    // Maps
    #map
        background #f2f0e9
        height 125px
        margin 0
        position relative
        width 100%
        z-index 12000

    .venue
        border-bottom 1px solid #8a8a8a
        color #001017
        display block
        font-size 24px
        line-height 1.6em

        p
            font-size 32px
            line-height 42px

    #loading-text
        margin 20px 0 0
        text-align center

.checkin
    border 1px solid gray
    clear both
    margin 5px auto
    max-width 90%
    padding 5px

    &:after
        clear both
        content ""
        display block

    .profile-photo
        height 50px
        margin 0 5px 0 0
        width 50px

    .venue
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
