#full-modal
    // Maps
    #map
        background #f2f0e9
        height 125px
        margin 0
        position relative
        width 100%
        z-index 12000

    .attribution-container
        background #00405d
        color #eaeaea
        height 1.2em

        p
            float right
            font-size .8em
            margin .275em .275em 0 0

        &:after
            clear both
            content ""
            display block

    h2
        font-size 18px

    .venue
        background no-repeat 100% 50% / 150px auto
        border-bottom 1px solid #8a8a8a
        border-bottom 1px solid #cdcdcd
        color #001017
        display block
        min-height 100px

        h3
            background rgba(239, 239, 239, .75)
            border-bottom 1px solid #cdcdcd
            font-size 22px
            line-height 1.6em
            overflow hidden
            text-overflow ellipsis
            white-space nowrap

        p
            font-size 12px
            line-height 1.3em

    #loading-text
        margin 20px 0 0
        text-align center

.checkin
    background #efefef
    border-bottom 1px solid #cdcdcd
    clear both
    margin 0 auto
    max-width 90%
    padding 5px
    position relative

    &:nth-child(2)
        background #fefefe

        .arrow
            background #efefef

    &:after
        clear both
        content ""
        display block

    .profile-photo
        height 50px
        margin 0 5px 0 0
        width 50px

    .user
        font-size .9em

    .venue
        margin .25em 30px .25em 0
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

    h4
        font-size .8em

    .arrow
        background #efefef
        position absolute
        right 10px
        top: 50%
        transform translate(0%, -50%)
        -moz-transform translate(0%, -50%)
        -webkit-transform translate(0%, -50%)

#confirm-checkin
    #checkin-comment
        display block
        margin 0 auto 1em
        min-height 60px
        width 90%
