// #/
//
// Timeline view
#timeline
    padding 0 0 50px

    .map
        height 100px

    h1
        background #efefef
        border-bottom 1px solid #cdcdcd
        border-top 1px solid #cdcdcd
        font-size 18px
        margin .5em 0
        padding .5em
        text-align center

    .refresh
        display inline-block
        height 1em
        margin 2.5px 5px 1.5px 4px
        vertical-align bottom
        width 1em

    .check-in
        color #fff
        font-size 18px
        margin 0 auto

    x-slidebox, x-tabbar
        margin 0 auto
        width 90%

    x-tabbar-tab.active
        background-color #00405d
        color #eaeaea
        cursor default !important

        &:active
            background-color #a0a0a0

    x-slide
        display none
        &.active
            display block

    .shout
        clear both
        font-size .9em
        padding-top 1em

#check-in
    color #fff
    font-size 20px
    margin 0 auto
