// #/
//
// Timeline view
#timeline
    padding 0 0 50px

    .map
        height 100px

    h1
        background #efefef
        border-bottom 1px solid #cdcdcd
        border-top 1px solid #cdcdcd
        font-size 18px
        margin .5em 0
        padding .5em
        text-align center

    .check-in
        color #fff
        font-size 18px
        margin 0 auto

    x-slidebox, x-tabbar
        margin 0 auto
        width 90%

    .shout
        clear both
        font-size .9em
        padding-top 1em

#check-in
    color #fff
    font-size 20px
    margin 0 auto
