// #login
//
// Login views (usually appears only on first run)
#sign-in
    background url('../img/vendor/foursquare/connect-blue.png') no-repeat 0 0;
    background-size 150px 24px
    display inline-block
    height 24px
    margin 0 auto
    outline none
    text-indent -9999px
    white-space nowrap
    width 150px

.profile-photo
    float left
    margin .4em .2em
    width 50px
