// Explore
x-appbar
    header
        visibility hidden

    &.explore
        #explore-link
            visibility hidden
        header
            margin-right -25px
            text-align right
            visibility visible

.explore
    #sections
        span
            color #fefefe
            left 4px
            position absolute
            top 8px
        select
            margin-left 40px

li.venue
    background #efefef
    border-bottom 1px solid #cdcdcd
    clear both
    color #001017
    display block
    min-height 60px
    position relative

    &:nth-child(2n)
        background #fefefe

    a
        display block
        min-height 60px

    .icon, .photo
        border 1px solid #8a8a8a
        display inline-block
        float left
        height 50px
        margin 5px
        overflow hidden
        position relative
        width 50px

        img
            display inline-block
            left 50%
            position absolute
            top 50%
            transform translate(-50%, -50%)
            width 100px

    // Icons have a max size of 88x88, so we'll use slightly more padding on
    // the image here.
    .icon
        background #afafaf
        img
            width 44px
        i
            color #fefefe
            font-size 32px
            margin 10px 0 0 15px

    h3
        font-size 16px
        font-weight bold
        line-height 1em
        padding 5px 0 2.5px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

    h4
        color #242424
        font-size 12px
        line-height 1em
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

    p
        clear both
        font-size 12px
        line-height 1.3em
        margin 0 0 0 5px

    .arrow
        display inline-block
        position absolute
        right 10px
        top 50%
        transform translate(0%, -50%)
        -moz-transform translate(0%, -50%)
        -webkit-transform translate(0%, -50%)

.area-container
    background #00405d
    color #eaeaea

    #sections, .venue-search
        background transparent
        height 30px
        overflow hidden
        position relative
        width auto

        select, input
            background transparent
            border 0
            border-radius 0
            color #fefefe
            font-size 16px
            height 30px
            line-height 1
            outline none
            padding 3px 0 0 3px
            -webkit-appearance none
            -moz-outline-style none
            width 120%
            &:active, &:focus
                outline 0
                -moz-outline-style none
            &::-webkit-input-placeholder
                color #fefefe
                opacity 1
                text-shadow 0
            &::-moz-placeholder
                color #fefefe
                opacity 1
                text-shadow 0
            &::-ms-input-placeholder
                color #fefefe
                opacity 1
                text-shadow 0
        input
            height 25px
            padding-bottom 0
            padding-right 20px
            width 70%
            &:active, &:focus
                border-bottom 1px solid

        button
            background none
            border 0
            font-size 20px
            left 70%
            margin-left 5px
            padding 0
            position absolute
            top 4px
            z-index 14000

            &[type="reset"]
                visibility hidden

                &.visible
                    visibility visible

            &[type="submit"]
                margin-left 30px

    .data-attribution
        float right
        font-size .6em
        margin 10px 5px 0 0

    &:after
        clear both
        content ""
        display block

    h4
        padding 0 0 3px 6px

.venue-summary
    &:after
        clear both
        content ""
        display block

    .subheader, .check-in
        display inline-block
        vertical-align middle

    .subheader
        margin 0 5px

    .subheader + .check-in
        margin-right 5px

.tips.venue
    .tip
        border 1px solid gray
        clear both
        margin 5px auto
        max-width 90%
        padding 5px

        &:after
            clear both
            content ""
            display block

        .text
            font-size .9em
            margin 0 0 .75em

        .author
            float right

            &:before
                content "—"

.more-tips
    .leave-tip
        font-size 14px

    .read-all-tips
        background #efefef
        border 1px solid #cdcdcd
        border-radius 6px
        cursor pointer
        display inline-block
        font-size 15px
        line-height .8em
        margin 0 0 0 30px
        padding .5em
        text-align center
        text-decoration none
        vertical-align middle

        &:active
            background #cfcfcf
            -moz-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
            -webkit-box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)
            box-shadow inset 0px 1px 3px 0px rgba(0,0,0,0.50)


.photos.venue
    display block
    margin 0 auto
    text-align center

    li
        display inline

    .photo
        background #fff no-repeat center center/200px auto
        border 1px solid #cfcfcf
        display inline-block
        height 100px
        width 30%
