.map
    background no-repeat center top
    height 125px
    width 100%

.tips.venue
    .tip
        border 1px solid gray
        clear both
        margin 5px auto
        max-width 90%
        padding 5px
