@import "settings";

@import "lib/brick";
@import "lib/foundation/foundation";

@import "helper";

@import "users";
@import "venues";

x-layout {
    border: none;
}

#content {
    min-height: 300px;
}

x-layout > footer {
    padding: 0;
    text-align: center;
}

// Generic summary styles (used when a showView is the main content of the
// page.)
#content > .summary {
    h2 {
        font-size: emCalc(23);
    }
}

