@import "settings";

@import "lib/brick";
@import "lib/foundation/foundation";

@import "helper";

@import "users";

x-layout {
    border: none;
}

#content {
    min-height: 300px;
}

x-layout > footer {
    padding: 0;
    text-align: center;
}
