#check-in {
    .venue {
        border-bottom: 1px solid #8a8a8a;
        color: #001017;
        display: block;
        font-size: 36px;
        line-height: 44px;
        min-height: 88px;

        p {
            font-size: 32px;
            line-height: 42px;
        }
    }
}
