<p class="center"><%= l('around is a Foursquare app for Firefox OS, mobile phones, and web browsers.') %></p>

<p class="center"><%= l('Touch the "Sign in" button to get started:') %></p>

<div class="center">
  <a id="sign-in" class="button center" href="<%= loginURL %>"><%= l('Sign in with Foursquare') %></a>
</div>
