<p><%= l("around is a Foursquare app for Firefox OS, mobile phones, and web browsers.") %></p>

<p><%= l('Touch the "Sign in" button to get started:') %></p>

<a id="sign-in" class="button" href="<%= loginURL %>">Sign in with Foursquare</a>
